.sidebar-link {
  @apply flex items-center space-x-3 px-4 py-3 rounded-lg text-white transition-all duration-200;
}



.sidebar-link.active {
  @apply bg-white text-gold-600 shadow-lg;
}

/* Assurer que le texte reste visible sur les liens actifs */
.sidebar-link.active span {
  @apply text-gold-600;
}

.sidebar-link.active svg {
  @apply text-gold-600;
}