/* Home Container */
.home-container {
  background: #143a69;
  height: 30vh;
  padding: 20px;
  position: fixed; /* Fixe le conteneur en haut */
  top: 0;
  left: 0;
  right: 0;
  width: 100%; /* Ajustez si nécessaire */
  z-index: 1; /* Met au-dessus des autres éléments */
}

/* Header */
.header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.settings-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
}

/* Balance Section */
.balance-section {
  color: white;
  text-align: center;
  padding: 20px 0;
}

.balance-label {
  margin: 0;
  font-size: 16px;
  opacity: 0.8;
}

.balance-amount {
  margin: 5px 0;
  font-size: 32px;
  font-weight: bold;
}

/* Card Dots */
.card-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 20px 0;
}

.dot {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.dot.active {
  background: white;
}

.card-dots i {
  margin-left: 8px;
  color: white;
}


/* QR Card */
.qr-card {
  background: linear-gradient(45deg, #00C6FF, #0082FF);
  border-radius: 20px;
  padding: 10px;
  margin: 15px auto; /* Centre la carte */
  position: relative;
  min-height: 150px;
  max-width: 50%; /* Réduit la largeur à 80% de l'écran */
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50px;
}


.qr-code {
  background: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}

.qr-code img {
  width: 150px;
  height: 150px;
}

.scanner-text {
  color: black;
  margin-top: 10px;
  font-size: 14px;
}

.mascot {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 60px;
  height: 60px;
}

/* Menu Options */
.menu-options {
  background: white;
  border-radius: 30px 30px 0 0;
  top: 10;

}

.menu-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 8px; */
}

.icon-circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}

/* Icon backgrounds */
.transfert {
  background: #4B49AC;
}

.paiements {
  background: #FFA113;
}

.credit {
  background: #00C6FF;
}

.banque {
  background: #FF5C5C;
}

.cadeaux {
  background: #2ECC71;
}

/* Make the container responsive */
@media (max-width: 768px) {
  .menu-options {
    padding: 20px 10px;
  }
  
  .icon-circle {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
  
  .menu-item span {
    font-size: 12px;
  }
}