.globale{
    border-style: solid;
    border-width: 0,5px;
    border-color:green;
}
.haut{
  background: orange;
  border-style:solid;
  border-width: 0,5px;
  border-color:green;
  height: 60px;
}
.menu{
    background-color: blue;
    border-width: 0,5px;
    border-style:solid;
    border-color:darkgreen;
    height: 40px;
}
.milieu{
    background-color: crimson;
    border-width: 40px;
    border-style:solid;
    border-color: white;
    height: 400px;

}
.bas{
    background-color: orange;
    border-width: 0,5px;
    border-style:solid;
    border-color: green;
   height: 60px;
}   