*{
    margin: 0;
    padding: 0;
}
 body{
    background-color: black;
} 
.cont{
    background-color: rgb(75, 65, 65);
    height: 6vh;
    width: 75%;
    position: relative;
    left: 14%;
    border-radius: 20px;
   
}
.bouton{
    height: 45px;
    width: 45px;
    background-color:orange;
    border-radius: 50px;
    position: relative;
    top: 4px;
    left: 3px;
    transition: width 1s;
    /* transition: transform 1s; */
}
.cont:hover .bouton{
    cursor: pointer;
    width: 1000px;
    background-color: blue;
  /*transform: translate(1040px,0); */

} 